<launch>
  <param name="hostname" value="192.168.0.90" />
  <param name="username" value="root" />
  <param name="password" value="root" />
  <param name="width" value="704" />
  <param name="height" value="480" />
  <param name="flip" value="False" />
  <node pkg="hauler_vision" name="h_v_controller" type="hauler_vision_controller.py">
  </node>
  <node pkg="mouse_driver" name="mouse_monitor" type="simple_mouse_driver.py">
  </node>
  <node pkg="axis_camera" name="PTZ" type="axis_ptz.py">
  </node>

  <node pkg="axis_camera" name="cutover_camera" type="axis.py">
  </node>
  <node pkg="image_view" name="operator_view" type="image_view">
    <remap from="image" to="image_raw" />
    <param name="image_transport" value="compressed" />
  </node>
</launch>

<!-- To control the PTZ, issue commands like so:
  rostopic pub /axis/cmd axis_camera/Axis '{ brightness: 5000, pan: 100, tilt: 10, zoom: 0, autofocus: True }'
  NOTE: Don't forget to populate the brightness field, or
  you'll get very dark images.
-->

